body{
    background-color:ivory;
    margin: 0 auto;
}

#navbar{
    width: 100%;
    height: 75px;
    background-color: lightgray;
}

ul {
    list-style: none;
}

li {
    font-size: 15px;
    text-transform: uppercase;
}

#caixaUm {
    background-color: turquoise;
    width: 200px;
    height: 200px;
}

#caixaDois{
    background-color: salmon;
    width: 200px;
    height: 200px;
}